<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Seahorse</title>

    {{!-- various logos:  please feel free to change this --}}
   
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/seahorse/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/seahorse/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/seahorse/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/seahorse/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/seahorse/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/seahorse/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/seahorse/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/seahorse/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/seahorse/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/seahorse/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/seahorse/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/seahorse/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/seahorse/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/seahorse/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">{{!-- Add CSS References Here --}}


    {{!-- Bootstrap & 3rd party stuff should go here --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">

    <!-- Stylesheets -->
    {{#if renderArgs.loginPage }}
      <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/login.css" />
    {{/if}}

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/index.css" />

  </head>

  <body>

    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar">
        <a class="navbar-brand" href="#">
          <img src="/public/assets/images/favicon-32x32.png" width="30" height="30" alt="">
          SEAHORSE RECALLS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                  </li>
                </ul>
              </div>

      </nav>
    </header>
 <!--BACKGROUND WRAPPER-->   
<div class="wrap">
        <div>
            <img src="background_2.jpeg" id="background-pic" width="1920" height="1080">

    {{{body}}}

  <div class="footer">
            <p>Seahorse Recalls &#169; 2018</p> 
  </div>
</body>


  {{!-- Add JavaScript Refrences Here --}}
  <script src="/assets/js/index.js"></script>

</html>
