<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PROJECT2</title>

  {{!-- Add CSS References Here --}}
</head>

<body>
  {{body}}
</body>


{{!-- Add JavaScript Refrences Here --}}

</html>