<div class="wrap">
  <div>
    <img src="/assets/images/misc/background.jpg" id="background-pic" width="1920" height="1080">
    <div id="search-box" class=" d-flex flex-column row-hl">
      <div class="p-4 item-hl">

        <p>{{message}}</p>
        {{#if unauthorized}}

        {{else}}
          <h1>Oops... Sorry 'bout that.</h1>
          <p>Looks like something wonky happened.</p>
          <h2>Error Number: {{number}}</h2>
        {{/if}}
      </div>
      <div class="d-flex flex-column align-items-center row-hl" id="search-options">

      </div>
    </div>
  </div>
</div>
