<div class="wrap">
    <div>
    <img src="/assets/images/misc/background.jpg" id="background-pic" width="1920" height="1080">
        <h1 class="text_over_image">SEAHORSE RECALLS</h1>
        <div id="landing-box" class=" d-flex flex-column row-hl ">
            <div id="button-toolbar" class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group">
                            <button type="button" class="btn" id="button1">SEARCH
                                <br> RECALLS</button>
                    </div>
                    <div class="btn-group" role="group">
                            <button type="button" class="btn" id="button2">SIGN UP
                                <br>FOR
                                <br>ALERTS</button>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
