<div>
    <img src="../public/assets/images/misc/background.jpeg" id="background-pic" width="1920" height="1080">
</div>
<div id="index-bottom">
    <!--div class="container bg-success" id="index-lower" height="800px"-->
    <div class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group">
            <button type="button" class="btn">SEARCH
                <br> RECALLS</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn">SIGN UP
                <br>FOR
                <br>ALERTS</button>
        </div>

    </div>
</div>
