<h1>Login Page</h1>

<form action="submit" id="loginForm">
  <input type="email" name="email" placeholder="email address" class="auth" required>
  <input type="password" name="password" placeholder="password" class="auth" required>
  <br/>
  <button type="submit" id="loginBtn">Login</button>
</form>


<h1>Register Page</h1>

<form action="submit" id="registerForm">
  <input type="text" name="firstName" placeholder="first name" class="hidden auth" required>
  <input type="text" name="lastName" placeholder="last name" class="hidden auth" required>
  <br/>
  <input type="email" name="email" placeholder="email address" class="auth" required>
  <input type="password" name="password" placeholder="password" class="auth" required>
  <br/>
  <button type="submit" id="registerBtn">Register</button>
</form>