<!--TOP PORTION WITH CAR PIC-->
       <div class="container-fluid" id="car-row">
            <div class="car-pic" img src="CAR IMAGE HERE">
            <div class="car-year align-self-start">
            <div class="car-name align-self-center p-4 item-hl">
            <div class="car-subname align-self-baseline p-4 item-hl">
            </div>
            </div>     
            </div>
            </div>
        </div>
    

<!--BOTTOM PORTION WITH ALL RECALLS FOR THIS VEHICLE -->
        <div class="table-responsive" id="recalls-box">
            <button class="accordion"></button> <!--RECALL COMPONENT NAME WILL GO HERE-->
                <div class="panel">
                <p class="recall-date"></p>
                <p class="recall-summary"></p>
                <p class="recall-conequence"></p>
                <p class="recall-remedy"></p>
              </div>
        </div>  
<script src="/assets/js/recall.js"></script>