
    <div class="wrap">
        <div>
    <img src="/assets/images/misc/background.jpg" id="background-pic" width="1920" height="1080">
            <div id="search-box" class=" d-flex flex-column row-hl">
                    <div class="p-4 item-hl"id="search-header">Choose Vehicle Make, Model, and Year to Search for Recalls</div>
                    <div class="d-flex flex-column align-items-center row-hl" id="search-options">
                      <form>
                          <div class="form-group form-group-inline" id="search-Make">
                              <input type="text" class="form control" id="make-input" placeholder="Make">
                          </div>
                          <div class="form-group form-group-inline" id="search-Model">
                                <input type="text" class="form control" id="model-input" placeholder="Model">
                            </div>
                            <div class="form-group form-group-inline" id=search-Year>
                                <input type="text" class="form control" id="year-input" placeholder="Year (YYYY)">
                            </div>
                      </form>  
                    </div>
                    <input class="btn" id="search-button" type="submit" value="Search">
            </div>
        </div>
</div>

<table class="table table-sm table-dark" id="results-table">
  <thead>
    <tr>
      <th scope="col">VEHICLES</th>
      <th scope="col">RECALLS</th>
      <th scope="col">INVESTIGATIONS</th>
      <th scope="col">COMPLAINTS</th>     
      <th scope="col">MANUFACTURER COMMUNICATIONS</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <tr >
      <th scope="row" class="clickable-row" data-url="{url}" id="table-row"><a href="#"></a></th>
      <td id="recall-result"></td>
      <td id="invest-result"></td>
      <td id="complaint-result"></td>
      <td id="mancomm-result"></td>
    </tr>
  </tbody>
</table>
