* {
  font-family: Verdana, Geneva, sans-serif;	

}
#background-pic {
  width: 100%;
  height: auto;
  opacity: 0.333;
  z-index: 10;
  margin: 0;
  padding: 0; 
}
#container-fluid {

  z-index: 10000;
  background-color: #4f95b3; 
  height: 200px;

} 

#loginOrRegister {
  max-width: 100%;
  margin-top: 50px;
}

#loginOrRegister {
  box-sizing: border-box;
  z-index: 10000;
  background-color:grey; 
  height: 200px;
}

#loginOrRegister .tab-container {
  margin: auto;
  min-width: 200px;
  max-width: 600px;
  background-color: grey;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  min-height: 310px;
}

#loginOrRegister .form-container {
  margin-top: 15px;
}

#loginOrRegister form>div {
  margin-top: 15px;
}

#loginOrRegister .col2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

#loginOrRegister label {
  margin-bottom: 0;
}

#loginOrRegister input {
  width: 100%;
  padding: 0 2px;
  border-radius: 2.5px;
  border-style: none;
}

#loginOrRegister input:focus {
  outline-color: darkgrey;
}

#loginOrRegister .left {
  padding-right: 7.5px;
}

#loginOrRegister .right {
  padding-left: 7.5px;
}

#loginOrRegister .hidden {
  display: none;
}

#loginOrRegister .active {
  background-color: gray;
  color: black;
}

.btn {
  background-color :#b43104;
  color: lightgray;
  width: 150px;
  height: 100px;
  margin-top: 30%;
  white-space: normal;
     
}

#loginOrRegister .col1 {
  text-align: right;
}

#text_over_image {
  margin: 30px;
  top: 30em;
  bottom: 30em;
  left: 30em;
  right: 30em;
}

.btn {
  background-color :#b43104;
  color: lightgray;
  width: 150px;
  height: 100px;
  margin-top: 30%;
  white-space: normal;
     
}

