* {
  font-family: Verdana, Geneva, sans-serif;	

}
#jumbotron{
  background-image: url(/assets/images/misc/background.jpg);
  width: "1920em"; 
  height:"500em";
  opacity: 0.333;
 
}
#form1 {
  background-color: #5f9ea0; 
  height: 200px;
} 
#loginForm {
  background-color:#5f9ea0;
  margin:auto;
  color: whitesmoke;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 7.5em;
}
#form2 {
  background-color: whitesmoke;
}
#registerForm{
  background-color: whitesmoke;
  margin: auto;
}
.btn {
  background-color :#b43104;
  color: lightgray;
 }
#text_over_image {
  font-family: Impact, 'Arial Narrow Bold', Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 900;
  font-size: 5em;
  letter-spacing: .1em;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  height: 8em;
}

/* ****************RESPONSIVE STYLING****************** */

@media all and (orientation:portrait) {}

@media all and (orientation:landscape) {}

@media (max-width: 992px) {
    #navbarNav {
        background-color: cadetblue;
        padding-left: 5px;
    }
    #currentUser {
        display: none;
    }
}